*{
    padding: 0;
    margin:0;
    font-family: 'Lato', sans-serif;

}


 header{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
 }


                #newGameTittle{

                    display: flex;
                align-items: center;
                gap: 1rem;
                }

                .newGameTittle img{
                    width: 30px;
                    height: 30px;
                
                }
            
                    .playerTittle{
                        display:flex;
                        margin-top: 2rem;
                        gap: 5em;
                        justify-items: center;
                        font-size: 24px;
                        

            }

    main{
        display: grid;
       grid-template-rows: 1fr;
      
        justify-content: center;
        align-items: center;

    }

                .scorePlayer-container{


                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1rem;
                    text-align: center;
                    justify-content: center;
                   
                    font-size:40px;
                    padding-top: 2rem;
                }


    

                #StatusIcon1{
                    width: 30px;
                    height:30px;
                    visibility: hidden;
                }
                    

                #StatusIcon2{
                    width: 30px;
                    height:30px;
                    visibility: hidden;
                }
                 .scorePlayer1{
                   
                   padding-top: 15px;
                    width: 250px;
                    height: 100px;
                        

                    }
                        
                    .Dimage{
                        justify-self: center;
                         box-shadow: -12px -1px 98px -5px rgba(138,132,132,0.26);
                         box-sizing: content-box;
                         max-width: 100px;
                         height: 100px;
                      }
                            
                    .scorePlayer2{
                        padding-top: 15px;
                        width: 250px;
                        height: 100px;
                    }


                    .currentGame_main{

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding-top: 5rem;
                        gap:8rem;
                        font-size: 15px;
                    }

                    #currentScorePlayer1{
                        background-color: red;
                        padding: 10px;
                        text-align: center;

                        font-weight: bold;
                
                       
                                
                            }

                            #currentScorePlayer2{
                                background-color: red;
                                padding: 10px;
                                text-align: center;
                                font-weight: bold;


                            }
                        




                        .btnGame{
                                display: flex;
                                gap: 2rem;
                                flex-direction: column;
                        }
                                .roll-dice{
                                    display:flex;
                                    flex-direction: row;
                                    gap: 15px;
                                }

                                        .roll-dice button {
                                            background-color:white;
                                            border: none;
                                            font-weight: bold;
                                            font-size: 15px;
                                        }
                                        .roll-dice img{
                                            width: 20px;
                                            height: 20px;
                                            
                                        }



                                .hold{
                                    display:flex;
                                    flex-direction: row;
                                    gap: 15px;
                                   

                                }
                                        .hold img{
                                            width: 20px;
                                            height: 20px;
                                         

                                        }                  
                                        
                                .holdBtn{
                                    background-color:white;
                                            border: none;
                                            font-weight: bold;
                                            font-size: 15px;
                                }


                                        
                  